@charset "utf-8";
body{font-family:"Nanum","";}
header{width:1200px;margin:30px auto;heigth:200px;}
header:after{content:"";display:block;clear:both;}
#logo{width:226px;height:19px;float:left;}
#menu{float:right;width:615px;}
#menu>ul{width:100%;margin-bottom:20px;}
#menu>ul:after{content:"";display:block;clear:both;}
#menu>li{float:left;margin-left:5px;position:relative;height:50px;}
#menu>li:after{content:"";display:block;clear:both;}
#menu>li>a{display:block;width:200px;text-align:center;line-height:50px;font-weight:bold;}

#menu ul{width:100%;position:absolute;left:0;top:50px;float:left;display:none;z-index:100;}
#menu ul>li{text-align:center;}
#menu ul>li>a{display:block;padding:15px;background:#fff;}
#menu ul>li>a:hover{color:#1428a0;font-weight:bold;}

#banner{width:100%;}
#banner_wrap{width:100%;overflow:hidden;height:585px;position:relative;}
.banner{width:200%;position:absolute;height:585px;}
.banner:after{content:"";display:block;clear:both;}
.banner li{width:1940px;height:585px;float:left;position:relative;}

.bn1{width:100%;text-align:center;position:absolute;top:100px;color:#fff;}
.bn1>h3{font-size:60px;}
.bn1>p{font-size:20px;margin-top:20px;}
.bn1>button{border:none;padding:15px 30px;border-radius:25px;background:#1428a0;color:#fff;margin-top:50px;}

.btn{width:100%;position:absolute;top:250px;background:#fff;}
.btn:after{content:"";display:block;clear:both;}
.btn>span{float:left;position:relative;}
.btn>span>img{width:22px;height:42px;cursor:pointer;}
#prev_btn{position:absolute;left:80px;}
#next_btn{position:absolute;left:1800px;}